// src/shared/components/CartIndicator/CartIndicator.module.scss
.indicator {
  display: flex;
  height: 32px;
  // width: 44px;
  padding-left: 12px;
  padding-right: 12px;
  // padding: 12px 10px;
  align-items: center;
  justify-content: center;
  gap: var(--core-spacing-baseline, 4px);
  flex-shrink: 0;
  border-radius: var(--border-radius-border-radius-fully-rounded, 999px);
  border: 1px solid var(--core-midnight-black-alpha-midnight-black-alpha-20, rgba(18, 18, 20, 0.2));
  background: var(--core-midnight-black-alpha-midnight-black-alpha-20, rgba(18, 18, 20, 0.4));
  backdrop-filter: blur(6px);
  @media (min-width: 768px) {
    &:hover {
      background: var(--core-midnight-black-alpha-midnight-black-alpha-20, rgba(18, 18, 20, 0.6));
    }
  }

  @media (max-width: 768px) {
    // width: 36px;
    padding-left: 8px;
    padding-right: 8px;
    height: 28px;
  }
}

.badge {
  color: #f8f8fb;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  @media (max-width: 768px) {
    font-size: 10px;
    line-height: 14px;
  }
}
